body {
  background: #76b852;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error-wrapper {
  text-align: center;
  margin-top: -75px;
}

.error-message {
  color: red;
}